.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mainImg {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: beige;
}

.bind {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(228, 228, 56);
}

.btn {
 width: 100px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(37, 147, 255);
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 
}