.container {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 10px;
}

.pokemon {
    width: 100%;
    /* height: 50px; */
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.imageBox {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
}

.infoContainer {
    width: 100%;
    height: 150px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
}

.infoBox {
    width: 100%;
    /* height: 200px;
    border: 2px solid red; */
}