.modal {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    border-radius: 12px;
    background-color: transparent;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.7);
}